.input-hidden {
  position: absolute;
  left: -9999px;
}
input[type=radio]:checked + label>img {
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px #090;
}

input[type=radio] + label>img {
  border: 1px solid #444;
  width: 200px;
  height: 200px;
  transition: 500ms all;
  margin: 20px;
  border-radius: 10px;
}
button{
    width : 80px;
    position: static;
    background-color:deepskyblue;
    border-radius: 10px;
    height: 45px;   
}